<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-8">
      <% if current_user.applicant? %>
        <h2>Create a new internship application for <%= @internship.title %></h2>
        <%= simple_form_for [@internship, @application] do |f| %>
          <%= f.input :user, input_html: { value: "#{current_user.first_name} #{current_user.last_name}" }, label: "Name", disabled: true %>
          <%= f.input :application_date, input_html: { value: Date.today }, disabled: true %>
          <%= f.input :comment %>
          <%= f.button :submit, class: "btn btn-primary" %>
          <%= link_to "Cancel", internship_path(@internship), class: "btn btn-danger"%>
        <% end %>
      <% else %>
        <h3>Sorry you do not have access</h3>
      <% end %>
    </div>
  </div>
</div>
