<div class="container my-4">
  <% if current_user.applicant? %>
    <div class="card">
      <div class="card-body">
        <h2>Your application for: <%= @application.internship.role %> at <%= @application.internship.title %></h2>
        <p>Status: <%= @application.status %> </p>
        <p>Sent on: <%= @application.application_date %></p>
        <p>Comment: <%= @application.comment %></p>
        <% if @application.status == "pending" %>
          <%= link_to "Delete", internship_application_path(@application), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      </div>
    </div>
  <% elsif current_user.employer? %>
    <h2><%= @application.internship.role %> at <%= @application.internship.title %></h2>
    <p>Applicant: <%= @application.user.first_name %> <%= @application.user.last_name %></p>
    <p>Status: <%= @application.status %> </p>
    <p>Sent on: <%= @application.application_date %></p>
    <p>Comment: <%= @application.comment %></p>
    <% if @application.status == "pending" %>
      <%= link_to "Edit", edit_internship_application_path(@application) %>
    <% end %>
  <% end %>
</div>
