<div class="container my-4">
  <div class="row">
    <% if current_user.applicant? %>
      <div class="card p-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="card-subtitle mb-2 text-muted">Your application for: </div>
            <% if @application.status == "Pending" %>
              <%= link_to "Withdraw your application", internship_application_path(@application), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style:"color: red" %>
            <% end %>
          </div>
          <h2 class="card-title"><%= @application.internship.role %> at <%= @application.internship.title %></h2>
          <div class="card-text subheader">Employer</div>
          <div class="card-text"><%= "#{@application.internship.user.first_name} #{@application.internship.user.last_name}" %></div>
          <div class="card-text subheader">Status</div>
          <div class="card-text"><%= @application.status %></div>
          <div class="card-text subheader">Sent on</div>
          <div class="card-text"><%= "#{@application.application_date.mday} #{Date::MONTHNAMES[@application.application_date.mon]} #{@application.application_date.year}" %></div>
          <div class="card-text subheader">Comment</div>
          <div class="card-text"><%= @application.comment %></div>
        </div>
      </div>


    <% elsif current_user.employer? %>
      <div class="d-flex justify-content-between">
        <div>
          <h2><%= @application.internship.role %> at <%= @application.internship.title %></h2>
          <h5><em><%= @application.status %></em></h5>
        </div>
        <div class="pt-3">
          <% if @application.status == "Pending" %>
            <%= link_to "Update", edit_internship_application_path(@application), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
      <div class="col-8">
        <div class="card h-100 card-show-employer-apps">
          <div class="card-body">
            <div class="card-text" style="font-weight:bold">Comment:</div>
            <div class="card-text"><%= @application.comment %></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= @application.user.first_name.capitalize %> <%= @application.user.last_name.capitalize %></h3>
            <div class="d-flex justify-content-start">
              <div>
                <%= cl_image_tag @application.user.profile_picture.key, crop: :fill, class:"avatar-card-show"%>
              </div>
              <div class="card-info mx-3">
                <div class="card-text">Phone: <%= @application.user.contact_number[0..3] %> <%= @application.user.contact_number[4..6] %> <%= @application.user.contact_number[7..9] %></div>
                <div class="card-text">Email: <%= @application.user.email %></div>
                <div class="card-text">Location: <%= @application.user.location %></div>
                <div class="card-text">Sent on: <%= "#{@application.application_date.mday} #{Date::MONTHNAMES[@application.application_date.mon]} #{@application.application_date.year}" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
