<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="<%= asset_path('internmatch.png') %>">
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= link_to "Explore", internships_path, class: "nav-link" %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "My Applications", internship_applications_path, class: "nav-link" %>
        </li>
        <% if current_user.employer? %>
          <li class="nav-item">
            <%= link_to "My Internships", my_internships_path, class: "nav-link" %>
          </li>
        <% elsif current_user.applicant? %>
          <li class="nav-item">
            <%= link_to "Apply Now", "", class: "nav-link" %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
