<div class="container">

  <section class="mt-4 top-section text-center">
    <h1>Find your next internships!</h1>
    <p>Explore possibilities around your area</p>
  </section>

  <section class="featured-internships py-5">
  <h2 class="mt-4 mb-3 text-center text-white fs-3 rounded-2" style="background-color: #007bff; padding: 0.5rem 1rem; margin: 1rem 0; ">
  Featured Internships </h2>

  <div class="container">
    <div class="row justify-content-center g-4">
      <% @internships.each do |internship| %>
<<<<<<< HEAD
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
              <h5 class="card-title"><%= internship.title %></h5>
              <p class="card-text">Role: <%= internship.role %></p>
              <%= link_to "More info", internship_path(internship), class:"btn btn-primary" %>
=======
        <div class="col-4">
          <div class="card card-home m-2">
            <%= image_tag "front.jpg", class: "intern-img card-img-top" %>
            <div class="card-body">
              <h4 class="card-title"><%= internship.title%></h4>
              <div class="card-info d-flex justify-content-between">
                <div>
                  <p class="card-subtitle mb-2 text-muted "><%= internship.role%></p>
                  <p class="card-text"><%= internship.location%> </p>
                </div>
                <div class="d-flex mt-3">
                  <%= link_to "More info", internship_path(internship), class:"btn btn-primary" %>
                </div>
              </div>
<<<<<<< HEAD
>>>>>>> 36b4cd48aefba72801e4061bf0230a4ac83aa46f
=======
>>>>>>> 36b4cd48aefba72801e4061bf0230a4ac83aa46f
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
</div>
