<div class="container py-4">
  <h1 style="text-align: center;">Internships</h1>

  <div style="text-align: center; margin-bottom: 20px;">
    <% if current_user.employer? %>
      <%= link_to 'Create an internship', new_internship_path, class: 'btn btn-primary' %>
    <% end %>
  </div>

  <table style="width: 100%; border-collapse: collapse; margin: 0 auto;">
    <thead style="background-color: #f2f2f2;">
      <tr>
        <th style="padding: 10px; border: 1px solid #ddd;">Title</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Role</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Location</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Start Date</th>
        <th style="padding: 10px; border: 1px solid #ddd;">End Date</th>
      </tr>
    </thead>
    <tbody>
      <% @internships.each do |internship| %>
        <tr>
          <td style="padding: 10px; border: 1px solid #ddd;"><%= link_to internship.title, internship_path(internship)%></td>
          <td style="padding: 10px; border: 1px solid #ddd;"><%= internship.role %></td>
          <td style="padding: 10px; border: 1px solid #ddd;"><%= internship.location %></td>
          <td style="padding: 10px; border: 1px solid #ddd;"><%= internship.start_date %></td>
          <td style="padding: 10px; border: 1px solid #ddd;"><%= internship.end_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
