<div class="container my-4">
  <h2><%= @internship.title %></h2>
  <ul>
    <li><%= @internship.role %></li>
    <li><%= @internship.description %></li>
    <li>Located in: <%= @internship.location %></li>
    <li>Start date: <%= @internship.start_date %></li>
    <li>End date: <%= @internship.end_date %></li>
    <li>$ <%= @internship.compensation %></li>
  </ul>
  <%= link_to "Apply Now", "", class:"btn btn-primary" %>
</div>
