<div class="container my-4">
  <h2><%= @internship.title %></h2>
  <ul>
    <li><%= @internship.role %></li>
    <li><%= @internship.description %></li>
    <li>Located in: <%= @internship.location %></li>
    <li>Start date: <%= @internship.start_date %></li>
    <li>End date: <%= @internship.end_date %></li>
    <li>$ <%= @internship.compensation %></li>
  </ul>
  <% if current_user.applicant? %>
    <%= link_to "Apply Now", new_internship_internship_application_path(@internship), class:"btn btn-primary" %>
  <% end %>
</div>
