
<div class="footer navbar navbar-expand-sm navbar-light navbar-lewagon footer-navbar">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <img src="<%= asset_path('internmatch.png') %>">
    <% end %>

    <div class="container collapse navbar-collapse" id="footerNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "About Us", "#", class: "nav-link footer-nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Privacy Policy", "#", class: "nav-link footer-nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Terms of Service", "#", class: "nav-link footer-nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "#", class: "nav-link footer-nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
